* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding-top: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

canvas {
  background-image: url("./data/Backgrounds/black.png");
  animation: scroll-background 4s linear infinite;
}

#game-start {
  width: 800px;
  height: 600px;
  position: absolute;
  color: white;
  font-family: "Press Start 2P", cursive;
  padding: 200px 100px;
}
p {
  height: 50%;
  text-align: center;
}
#title {
  padding-top: 30px;
  font-size: 46px;
}
#enter {
  font-size: 20px;
}

#game-over {
  display: none;
  width: 800px;
  height: 600px;
  position: absolute;
  color: white;
  font-family: "Press Start 2P", cursive;
  padding: 200px 100px;
}
p {
  height: 50%;
  text-align: center;
}
#title {
  padding-top: 30px;
  font-size: 46px;
}
#score {
  height: 30%;
  font-size: 20px;
}
#restart {
  height: 10%;
  font-size: 14px;
}

@keyframes scroll-background {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: 250px;
  }
}
