* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

canvas {
  margin-top: 100px;
  background-image: url("./data/Backgrounds/black.png");
  animation: scroll-background 4s linear infinite;
}

@keyframes scroll-background {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: 250px;
  }
}
